#phrase-maker {
  margin-top: -20px;
}

@media screen and (min-width: 880px) {
  #phrase-maker {
    margin-top: 20px;
  }
}

.generated-tweet {  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border: 1px solid #08060624;
  border-radius: 5px;
  font-size: 14px;
  min-height: 90px;
}

.generated-tweet-user {  
  color: black;
  font-weight: bold;
}

.generated-tweet div{  
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: initial;
}

.phrase-maker-container .button {
  width: 170px;
  margin: 20px 0px;
  background: #0e9c0e;
}

.phrase-maker-container .button:hover {
  background: green;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.phrase-maker-container .button:focus {
  background: #0e9c0e;
}

.generated-tweet-explanation {
  font-size: 14px;
}

.probability-form-container .divider {
  margin-top: 20px;
}
