#main-container {
  justify-content: center;
}

#show-tweets.results.none {
  width: 100%;
  margin: auto;
  color: red;
}

.main-section {
  width: 400px;
  margin: 20px;
}

.configure-subtitle {
  line-height: 1.4 !important;
  font-size: 19px;
}

.configure-title {
  padding-bottom: 0px !important;
}

.middle-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1320px) {
  .middle-section {
    flex-direction: row;
  }
}

#markov-chain-results {
  margin-top: -20px;
}

@media screen and (min-width: 880px) {
  #markov-chain-results {
    margin-top: 20px;
  }
}