.probability-input-box {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.probability-input-box input{
  width: 50px;
  height: 35px;
  margin-top: 2px;
  padding-right: 5px;
  text-align: right;
}

.probability-input-box h6{
  margin-left: 5px;
}

.probability-labels{
  display: flex;
  justify-content: center;
}