#configure-markov-chain {
  position: relative;
  margin: 20px;
}

#configure-markov-chain .button {
  width: 170px;
  margin: 24px 0px 0px 0px;
  background: #0e9c0e;
}

#configure-markov-chain .button:hover {
  background: green;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#configure-markov-chain .input-pair {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#configure-markov-chain .input-pair select {
  width: 220px;
}

#configure-markov-chain h6 {
  line-height: 2.5;
}

.explanation {
  font-size: 14px;
  margin-bottom: 20px;
}

.change-probabilities-label {
  padding: 15px 30px 10px 30px !important;
}

.save-message {
  margin-top: 20px;
  line-height: 1.1 !important;
}

.probability-input-box h6, .probability-labels h6 {
  margin-right: 20px;
}

.starting-link {
  padding: 0px 0px 20px 0px !important
}

